@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;

}

body{
    background: url(./photo-1478760329108-5c3ed9d495a0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact{
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: 100%;
    
}
.contact_form{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    border: 2px solid aqua;
    padding: 35px;
    border-radius: 8px;
   
}

input,textarea{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid aqua;
    background: transparent;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
.send{
    width: 80px;
    height: 30px;
    background-color: aqua;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;
}
.btn{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.send:hover{
    border: 2px solid aqua;
    background: transparent;
    color: white;
    transition: 0.5s;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 42px;
  }

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 10%;
    z-index: 100;
    
   
}

.logo{
    position: relative;
    color: white;
    font-weight: bold;
    font-size: larger;
}
span{
    color: aqua;
    font-size: xx-large;
}
.navbar a {
    color: white;
    margin-left: 35px;
    font-weight: bold;
}
.navbar a:hover {
    color: aqua;
}
.social{
    position: absolute;
    bottom: 40px;
    right: 30px;
    display: flex;
    height: 50px;
    width: 170px;
    justify-content: space-between;
 }
 .social a{
    border: 2px solid aqua;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: aqua;
    font-size: 22px;
 }
 .social a:hover{
    background-color: black;
    color: aqua;
    transition: 0.5s;
 }