*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 0.6s;
}
body{
    background-color: #081b29;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 10%;
    z-index: 100;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: larger;
}
span{
    color: aqua;
    font-size: xx-large;
}
.navbar a {
    color: white;
    margin-left: 35px;
    font-weight: bold;
}
.navbar a:hover {
    color: aqua;
}


.home_content{
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10%;
    max-width: 800px;
}

.home, h1 ,h3 ,p{
    margin-bottom: 20px;
    
}
.home h1{
    font-size: 56px;
    font-weight: 700;
}
.home h3{
    font-size: 32px;
    font-weight: 700;
    color: aqua;
}
.home p{
    line-height: 1.2;
}

.btns a:hover {
    
    color: white;
    background: rgb(234, 0, 255);

}
 .home_content .btns{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 40px;
 }

 .btns a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 100%;
    font-size: 19px;
    letter-spacing: 1;
    color: black;
    font-weight: 600;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
 }

 .btns a::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
 }
 .btns a:hover::before{
    width: 100%;
    
 }


