*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background-color: #081b29;
    background-image: url(./photo-1478760329108-5c3ed9d495a0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 10%;
    z-index: 100;
    
   
}

.logo{
    position: relative;
    color: white;
    font-weight: bold;
    font-size: larger;
}
span{
    color: aqua;
    font-size: xx-large;
}
.navbar a {
    color: white;
    margin-left: 35px;
    font-weight: bold;
}
.navbar a:hover {
    color: aqua;
}


.home_content{
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10%;
    max-width: 800px;
}

.home, h1 ,h3 ,p{
    margin-bottom: 20px;
    
}
.home h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
}
.home h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: aqua;
}
.home p{
    position: relative;
    line-height: 1.2;
}

.btns a:hover {
    
    color: white;
    background: rgb(234, 0, 255);

}
 .home_content .btns{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 40px;
 }

 .btns a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 100%;
    font-size: 19px;
    letter-spacing: 1;
    color: black;
    font-weight: 600;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
 }

 .btns a::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
 }
 .btns a:hover::before{
    width: 100%;
    
 }

 .social{
    position: absolute;
    bottom: 40px;
    display: flex;
    height: 50px;
    width: 170px;
    justify-content: space-between;
 }
 .social a{
    border: 2px solid aqua;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: aqua;
    font-size: 22px;
 }
 .social a:hover{
    background-color: black;
    color: aqua;
    transition: 0.5s;
 }
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}
.home h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}
.home p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}


@keyframes showRight {
    100%{
        width: 0;
    }
}