*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    /* background-image: url(./High_resolution_wallpaper_background_ID_77701602489.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; */
    padding: 20px;
    background-image: linear-gradient(to left, rgb(112, 242, 249) , rgb(24, 49, 211));
    
    
    
}
a{
    text-decoration: none;
    color: white;
    
    
    
}
.text{
    font-size: 60px;
}
.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    text-align: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    align-items: center;
    box-shadow: -10px -10px 10px 0.1px rgb(75, 235, 200);
}
input{
    height: 30px;
    width: 250px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
span{
    font-weight: bold;
    color: aqua;
    font-size: larger;
}
a:hover{
    color: aqua;
    transition: 0.7s;
}
span:hover{
    color: coral;
    transition: 0.5s;
}
.body_text{
    color: white;
    margin-top: 200px;
    margin-left: 100px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.circle{
    height: 200px;
    width: 280px;
    border-radius: 20%;
    background-image: linear-gradient(to right, rgb(112, 242, 249) , rgb(24, 49, 211));
    box-shadow: -10px -10px 10px 0.1px rgb(0, 10, 8);
    opacity: 0.8;
    margin-top: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   
}
.main{
    display: flex;
    justify-content: space-around;
    box-shadow: -10px -10px 10px 0.1px rgb(255, 255, 255);

}
i{
    margin-top: 40px;
    color: white;
    font-size: xx-large;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 4px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    
}
.media{
    display: flex;
    justify-content: end;
}
.side_img{
    height: 250px;
    width: 350px;
}
.castle{
    width: 100%;
}
.contact_form{
    color: white;
}
.form{
    margin-top: 30px;
    width: 400px;
    background-image: linear-gradient(to right, rgb(71, 243, 243) , rgb(227, 55, 213));
    display: inline-block;
    padding: 20px;
    box-shadow: -10px 10px 10px 0.1px rgb(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.btn{
    padding: 7px;
    background-color:rgb(245, 216, 53) ;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 4px;
}

