*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar{
    width: 100%;
    background-color: cadetblue;
    padding: 10px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-weight: bold;
}
ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
span{
    color: orange;
    font-size: 40px;
}

